#Configuration Setting for DataEmitter

#Kinesis Stream Name to Emit Records to
kinesisStreamName=RTSADataPoints
#Options to Persist Records
persistToS3=false
#Run the emitter indefinitely or else emitter will run for numRecords random records
loopIndefinitely=false
numRecords=1000
#Event Type for Data Template to Emit, See README for supported Event Types & How to Create New Ones
eventType=MultiPlayerEvent
